*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
    text-align: center;
}

.header{
    background-color: blue;
    height: 60px;
}

.footer{
    height: 40px;
    background-color: green;
}

.container{
    width: 100%;
    display: grid;
    gap: 3px;
    margin: 3px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* 100%/12 8.33%*/
.col-1 { flex:1 ; max-width: 8.33%;}
.col-2 { flex:2 ; max-width: 16.66%;}
.col-3 { flex:3 ; max-width: 25%;}
.col-4 { flex:4 ; max-width: 33.33%;}
.col-5 { flex:5 ; max-width: 41.66%;}
.col-6 { flex:6 ; max-width: 50%;}
.col-7 { flex:7 ; max-width: 58.33%;}
.col-8 { flex:8 ; max-width: 66.66%;}
.col-9 { flex:9 ; max-width: 75%;}
.col-10 { flex:10 ; max-width: 83.33%;}
.col-11 { flex:11 ; max-width: 91.66%;}
.col-12 { flex:12 ; max-width: 100%;}

[class^="col-"]{
    background-color: cyan;
    padding: 3px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    flex-grow: 1;
}


.navbar ul{
    display: flex;
    justify-content: center;
    background-color: chartreuse;
    list-style: none;
    padding: 10px;
    flex-direction: column;
}

.navbar ul li{ 
    margin: 0 15px;
}

.navbar ul li a{ 
    color: black;
    text-decoration: none;
    font-size: 12px;
}